* {
    border: 2px solid blue;
}
body{
    max-width: 1200px;
    background-color:gray;
}
img{
    width: 30%;
    float:left;
}
h1{
    font-size: 300% ;
    text-align: center;

}

p{
    text-align: left;
    color: aliceblue;
    font-size: x-large;
}

a{
    text-align: center;
    color: azure;
    padding: 20px;
}
a:hover{
    color: blue;

}

